<app-header titulo="Grid"></app-header>

<ion-content>

  <ion-grid fixed> <!-- la propiedad "fixed" hace que las tarjetas tengan un tamaño fijo -->
    <ion-row>

      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]"> <!-- "size" es el tamaño de la columna -->

        <ion-card>
          <ion-img src="assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat minima possimus, rerum iste iusto odio accusamus velit nam quod debitis, alias vel vitae quasi exercitationem ratione nesciunt facere repellat tempore.
        </ion-card-content>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
